  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  a {
    text-decoration: none;
  }

  ul{
    list-style: none;
  }

  .nav-bar {
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: #ececec;
  }

  .logo {
    padding-left: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    font-weight: bolder;
  }

  .logo i {
    font-size: 40px;
    color: red;
  }

  .logo-text {
    font-size: 1.5em;
    font-family: "Poppins", sans-serif;
    font-style: italic;
  }

  .menu-bar {
    width: 100%;
  }

  .list {
    display: flex;
    justify-content: center;
  }

  .list ul {
    display: flex;
    justify-content: space-between;
    width: 45%;
  }

  .list-items a {
    color: black;
    font-size: 0.9em;
    transition: .4s;
    font-size: 15px;
  }

  .list-items:hover {
    transform: scale(1.1) !important;
    transition: 0.3s ease;
  }

  .list-items a:hover {
    color: red;
  }

  .search-bar {
    padding-right: 2em;
    position: relative;
    gap: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .search-bar input {
    background-color: transparent;
    border: 1px solid dimgray;
    padding: 10px;
    border-radius: 5px;
    /* border: none;  */
    border-bottom: 1px solid dimgray;
    
  }

  .search-bar input:focus {
    /* border: 1px solid gray !important;
    box-shadow: none;
    border: none; */
  }

  .burger {
    height: 28px;
    width: 32px;
    display: none; 
  }

  .layer-1, .layer-2, .layer-3 {
    background: black;
    height: 4px;
    margin-top: 4px;
    width: 100%;
    border-radius: 10px;
  }

  .section1 {
    height: calc(90vh);
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0KmF2KVM8PTVTW3ixVOryjY2tpdHnQsHOGy30H_PG41nXaeRRqoNXtkg67yC2wM035NM&usqp=CAU") center center/cover;
    top: 0;
    left: 0;z-index: -1;
    
  }

  .section1 .banner {
    height: 170px;
    width: 600px;
    background: rgba(255, 255, 255, 0.7);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-family: "Poppins";
    z-index: 8
  }

  .banner h1 {
    font-size: 2em;
  }

  .banner a {
    display: flex;
    justify-content: center;
    padding: 1em 2.5em;
    color: white;
    background-color: #f90b51;
    transition: all 0.3s;
    border-radius: 5px;
  }

  .banner a:hover {
    background-color: #7d0f79;
  }

  /* menubar */
  .menu-sidebar {
    display: none;
  }

  .cart-sidebar {
    background: #ececec;
    position: fixed;
    right: 0;
    top: 0;
    width: 450px;
    height: 100vh;
    z-index: 10;
    transition: all 0.3s linear;
    transform: translateX(100%);
    overflow: scroll;
  }

  .cart-sidebar .cart {
    padding: 0;
  }

  .cart .close-cart {
    font-size: 1.3em;
    padding: 1em;
    cursor: pointer;
  }

  .fa-times {
    margin: 0.5em 0 0 0;
  }

  cart h2 {
    text-align: center;
    width: 100%;
    margin-bottom: 1em;
    font-size: 1.1em;
    font-family: "Poppins";
  }

  .cart-product .product-image img {
    width: 130px;
    height: 90px;

  }

  .cart-product-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 1em;
    height: 80px;
  }

  .plus-minus {
    display: flex;
    transform: rotate(90deg);
    color: #7d0f79;
    font-size: 1.1em;
    cursor: pointer;
  }

  .total-sum {
    text-align: center;
    margin: 1em 0 0.5em 0;
  }

  .close-cart {
    text-align: center;

  }

  .clear-cart .btn {
    background-color: #7d0f79;
    color: white;
    border: 1px solid white;
    padding: 0.5em;
    cursor: pointer;
    transition: 0.3s linear;
  }

  .clear-cart .btn:hover {
    border: 1px solid #7d0f79;
    background: transparent;
    color: black;

  }

  .overlay {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    background-color: #7d0f11;
    opacity: 0.3;

    transition: all 0.3s linear;
  }

  .none {
    display: none;
  } 

  @media screen and (max-width:768px) {
    .logo {
      padding-left: 0;
    }

    .cart {
      padding-right: 0;
    }

    .menu-bar {
      display: none;
    }

    .burger {
      display: block;
      margin-left: 2em;
    }

    .section1 .banner h1 {
      font-size: 1.5em;
    }

    .banner a {
      font-size: 0.6em;
      padding: 1em 2em;
    }

    .section2 .title h1 {
      font-size: 1.5em;
    }

    .menu-sidebar {
      display: block;
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100vh;
      z-index: 11;
      background: #ececec;
      overflow: hidden;
      transform: translate(-100%);
      transition: 0.3s linear;
    }

    .menu-menubar {
      display: flex;
      height: 80%;
      justify-content: center;
    }

    .menu-list {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
    }

    .menu-sidebar .close-menu {
      position: absolute;
      right: 30px;
      font-size: 1.4em;
    }

    .menu-list-items {
      color: #7d0f79;
    }

    .menu-list-items a:hover {
      color: #f90b51;
    }


    
  }


  @media screen and (max-width:480px) {
    
    *{
      font-size: 16px;
    }

    .section1 .banner {
      width: 280px;
      height: 100px;
    }

    .section1 .banner h1 {
      font-size: 1.2em;
    }

    .burger {
      margin-left: 1em;
      display: block;
      width: 30px;
    }

    .cart-sidebar {
      width: 100%;
    }

    .product {
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }

